html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  @include media("<=1050px") {
    overflow: auto;
  }
}

.container {
  overflow: hidden;
  position: relative;
  height: 100vh;
  @include media("<=1050px") {
    overflow: auto;
  }
}

.disable-scroll {
  overflow: hidden;
}
