// ==============
// HAMBURGER MENU
// ==============

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  outline: none;
  height: 16px;
  background-color: transparent;
  cursor: pointer;
  z-index: 7;

  &__bar {
    background-color: black;
    height: 3px;
    width: 18px;
    display: inline-block;
    transition: all 0.5s;
  }
}

.mobile-nav--active .hamburger-menu__bar--1 {
  transform: translate(-1px, 5px) rotate(45deg);
  background-color: white;
}

.mobile-nav--active .hamburger-menu__bar--2 {
  opacity: 0;
}

.mobile-nav--active .hamburger-menu__bar--3 {
  transform: translate(-1px, -8px) rotate(-45deg);
  background-color: white;
}

// =======
// BUTTONS
// =======

.btn {
  border: none;
  font-weight: bold;
  opacity: 0;
  cursor: pointer;
  color: white;
  font-size: 1.8rem;
  text-decoration: none;
  padding: 1.5rem 2.5rem;
  border-radius: 0.6rem;
  text-transform: uppercase;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  animation: button1 1.6s forwards;
  animation-delay: 1s;
  position: relative;
  outline: none;

  &--grey {
    background-color: rgba(34, 34, 34, 0.9);
    &:hover {
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
  &--blue {
    background-color: rgba(0, 99, 164, 0.9);
    &:hover {
      background-color: rgba(0, 99, 164, 0.7);
    }
  }
}
