.shoe-purple-theme {
  --color-bg: var(--color-very-lightpurple);
  --color-text-1: var(--color-blue);
  --color-text-2: var(--color-light-purple);
  --color-text-3: var(--color-lighter-black);
  --color-toggle-1: var(--color-blue);
  --color-hover-1: var(--color-lighter-blue);
}

.shoe-orange-theme {
  --color-bg: var(--color-light-orange);
  --color-text-1: var(--color-orange);
  --color-text-2: var(--color-orange);
  --color-text-3: var(--color-lighter-black);
  --color-toggle-1: var(--color-orange);
  --color-hover-1: var(--color-lighter-orange);
}

.shoe-red-theme {
  --color-bg: var(--color-light-red);
  --color-text-1: var(--color-red);
  --color-text-2: var(--color-red);
  --color-text-3: var(--color-lighter-black);
  --color-toggle-1: var(--color-red);
  --color-hover-1: var(--color-lighter-red);
}

.shoe-black-theme {
  --color-bg: var(--color-very-lightgray);
  --color-text-1: var(--color-dark-grey);
  --color-text-2: var(--color-greyish-brown);
  --color-text-3: var(--color-lighter-black);
  --color-toggle-1: var(--color-dark-grey);
  --color-hover-1: var(--color-very-lightblack);
}
